<div>
    <section>
        <div class="text-center">
            Join our dynamic team at IT Panda and embark on a journey where innovation meets passion. We believe in fostering a collaborative environment where your skills are not just valued but celebrated. Join us in shaping the future, where every contribution makes a meaningful impact. Your career adventure begins here discover the possibilities with us.
        </div>
    </section>
    <section>
        <div class="alignment my-3">
           <h3 class="text-gradient"> Our Recruitment Process </h3>
        <div class="recruitment">
                <div class="img"><img src="../../../assets/images/apply-now.jpg" alt=""><span>Apply For The Position</span></div> 
                <div class="img"><img src="../../../assets/images/shortlisted.jpg" alt=""><span>Shortlisted Candidate</span></div>
                <div class="img"><img src="../../../assets/images/interview.jpg" alt=""><span>Interview with HR</span></div>
                <div class="img"><img src="../../../assets/images/selected-candidate.jpg" alt=""><span>Get Selected</span></div>
                <div class="img"><img src="../../../assets/images/welcome-team.jpg" alt=""><span>Hired</span></div>
        </div>
        </div>
    </section>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>