<div>
    <section>
        <img src="assets/images/join.jpg" class="img-fluid" alt="">
    </section>
    <section>
        <div class="alignment my-5">
           <h3 class="text-gradient"> Our Recruitment Process </h3>
        <div class="recruitment d-none d-md-flex d-xl-flex">
                <div class="img"><img class="img-fluid" src="../../../assets/images/apply-now.jpg" alt=""><span class="text-center mt-3">Apply For <br> Position</span></div> 
                <div class="img"><img class="img-fluid" src="../../../assets/images/shortlisted.jpg" alt=""><span class="text-center mt-3">Shortlisted <br> Candidate</span></div>
                <div class="img"><img class="img-fluid" src="../../../assets/images/interview.jpg" alt=""><span class="text-center">Interview with assessment panel</span></div>
                <div class="img"><img class="img-fluid" src="../../../assets/images/selected-candidate.jpg" alt=""><span class="text-center">Selected or pooled for future roles </span></div>
                <div class="img"><img class="img-fluid" src="../../../assets/images/welcome-team.jpg" alt=""><span class="text-center">Welcome aboard! You're hired!</span></div>
        </div>
        <div class="d-md-none d-xl-none">
            <div class="row mobile-recruitment">
                <div class="img"><img class="img-fluid" src="../../../assets/images/apply-now.jpg" alt=""><span class="text-center ">Apply For <br> Position</span></div> 
                <div class="img"><img class="img-fluid" src="../../../assets/images/shortlisted.jpg" alt=""><span class="text-center ">Shortlisted <br> Candidate</span></div>
                <div class="img"><img class="img-fluid" src="../../../assets/images/interview.jpg" alt=""><span class="text-center">Interview with assessment panel</span></div>
            </div>
            <div class="row mobile-recruitment">
                <div class="img"><img class="img-fluid" src="../../../assets/images/selected-candidate.jpg" alt=""><span class="text-center">Selected or pooled for future roles </span></div>
                <div class="img"><img class="img-fluid" src="../../../assets/images/welcome-team.jpg" alt=""><span class="text-center">Welcome aboard! You're hired!</span></div>
            </div>
        </div>
        </div>
    </section>
    <section>
        <div class="alignment my-4">
            <h3 class="text-gradient"> Open Positions</h3>
            <div class="card-group">
                <div *ngFor="let category of jobCategories" class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center">{{ category.name }}</h5>
                      <div class="card-text">
                        <ul>
                          <li *ngFor="let item of category.displayedItems">
                            {{ item }}
                          </li>
                          <a *ngIf="category.remainingItems.length > 0" (click)="showMore(category)">Show More.....</a>
                        </ul>
                      </div>
                      <button type="button" (click)="openForm()">APPLY NOW</button>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated recent</small>
                    </div>
                  </div>        
              </div>
        </div>     
    </section>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>
<ng-template #exampleModalCenter>
  <div class="modal-body">
    <div class="close" (click)="modal.dismissAll()" aria-label="close"><div class="btn-close"></div></div>
    <h3 class="mb-3">Job Application Form</h3>
      <form name="cvForm" #cvForm ="ngForm" (ngSubmit)="submit(cvForm)" novalidate>
        <div class="row">
             <div class="col-6">
                 <div class="py-1 d-grid">
                     <mat-form-field appearance="legacy">
                         <mat-label>Enter your Email</mat-label>
                         <input matInput autocomplete="off" [(ngModel)]="email" name="email" required>
                       </mat-form-field>
                 </div>
             </div>
             <div class="col-6">
              <div class="py-1 d-grid">
              <mat-form-field appearance="legacy">
                 <mat-label>Yours Interest</mat-label>
                 <mat-select name="category" [(ngModel)]="category" required>
                   <mat-option value="Frontend Developer">Front-End Developer</mat-option>
                   <mat-option value="Backend Developer">Backend Developer</mat-option>
                   <mat-option value="Graphic Designer">Graphic Designer</mat-option>
                   <mat-option value="NodeJs Developer">Node js Developer</mat-option>
                   <mat-option value="Mean Developer">MEAN Developer</mat-option>
                 </mat-select>
               </mat-form-field>
             </div>
            </div>
        </div>
        <div class="row">
          <div class="alignment pb-3" style="background-color: aliceblue; border-radius: 20px;">
          <img src="assets/images/upload.png" alt="" class="img-fluid" style="width: 40%;">
          <div class="mb-3 alignment">
            <label for="formFileSm" class="form-label">Drop Your CV</label>
            <input class="form-control form-control-sm" name="file" required type="file" (change)="fileUpdated($event)">
          </div>
          </div>
        </div>
        <button type="submit" class="w-50" style="font-size: x-large;">Submit</button>   
        <div  *ngIf="success">
          <div class="toast show" [ngClass]="response === 'Email Sent Successfully' ? 'bg-success' : 'bg-danger'" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body text-white text-center" >
              {{response}}
            </div>
          </div>
        </div>  
      </form>
    </div>
  </ng-template>