<footer [ngClass]="{'footer': hideFooter}" class="bg-dark text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About company</h5>
        <p>
          IT Panda will provide Digital Marketing services and also develops Web Apps by using the state of art technologies.
        </p>

        <p>
          We specialized in Angular, React and NodeJS. 
        </p>

        <div class="mt-4">
          <!-- Facebook -->
          <a type="button" href="https://www.facebook.com/itpanda.org" class="btn btn-floating btn-light m-1"><i class="fab fa-facebook-f"></i></a>
          <!-- Dribbble -->
          <a href="https://www.linkedin.com/company/it-panda-org/about/" type="button" class="btn btn-floating btn-light m-1"><i class="fab fa-linkedin-in"></i></a>
          <!-- Google + -->
          <a type="button" href="mailto:hr@itpanda.org" class="btn btn-floating btn-light m-1"><i class="fab fa-google"></i></a>
          <!-- Linkedin -->
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mx-auto">
        <h5 class="text-uppercase mb-4 pb-1">Contact Info</h5>

        <ul class="fa-ul">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Gulshan Town, Karachi, Pakistan</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span
              class="ms-2">info&#64;itpanda.org</span>
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">(021) 37121517</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">WORKING DAYS & HOURS</h5>

        <table class="table text-start text-white bg-dark text-white">
          <tbody class="font-weight-normal ">
            <tr>
              <td class="bg-dark text-white">Monday to Friday:</td>
              <td class="bg-dark text-white">10AM - 7PM</td>
            </tr>
            <tr>
              <td class="bg-dark text-white">Saturday</td>
              <td class="bg-dark text-white">11AM - 5PM</td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="form-outline form-white my-4">
          <input type="text" class="form-control" placeholder="Search">
          <div class="form-notch">
            <div class="form-notch-leading"></div>
            <div class="form-notch-middle"></div>
            <div class="form-notch-trailing"></div>
          </div>
        </div> -->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-dark text-center p-3 bg-light">
    ©Copyright 2020, <span style="color: #27AAE1; font-weight: 500;">IT Panda</span> Software Inc., All Rights Reserved.
  </div>
  <!-- Copyright -->
</footer>