.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
h5 {
    color: #27AAE1;
}

.fa-ul {
    margin: 0;
}

@media only screen and (max-width:768px) {
    .footer{
        position: relative;
    }
    .fa-ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}