<div>
    <!-- Section 1 -->
    <section class="py-4 contact">
        <div class="container">
                <div class="row m-4">
                    <div class="col-11 col-md-10 col-lg-8 col-xl-8 pt-4 mx-auto">
                        <!-- <h1 class="text-gradient">Contact Us</h1> -->
                        <p class="text-center">Kindly direct your correspondence to us by sending an email to <a href="mailto:hr@itpanda.org"> hr&#64;itpanda.org</a></p>
                        <!-- <form>
                           <div class="row">
                                <div class="col-12">
                                    <div class="py-1 d-grid">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Enter your Name</mat-label>
                                            <input matInput required>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="py-1 d-grid">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Enter your Phone Number</mat-label>
                                            <input matInput required>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="py-1 d-grid">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Enter your Email</mat-label>
                                            <input matInput required>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Yours Interest</mat-label>
                                    <mat-select>
                                      <mat-option value="one">Angular</mat-option>
                                      <mat-option value="two">React</mat-option>
                                      <mat-option value="two">Digital Marketing</mat-option>
                                      <mat-option value="two">Graphic Designing</mat-option>
                                      <mat-option value="one">Landing Page</mat-option>
                                      <mat-option value="one">Software Development</mat-option>
                                      <mat-option value="two">UI Designing</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="row">
                                    <div class="col-10 d-grid">
                                        <mat-form-field class="example-full-width" appearance="legacy">
                                            <mat-label>Leave a comment</mat-label>
                                            <textarea matInput></textarea>
                                        </mat-form-field> 
                                    </div>
                                    <div class="col-1 pt-4">
                                        <button mat-raised-button color="primary">Submit</button>     
                                    </div> 
                                </div>
                            </form> -->
                        </div>
                        </div>
                    </div>
                </section>

     <app-forcepagetop ></app-forcepagetop>
    <footer>
        <app-footer [hideFooter]="true"></app-footer>
    </footer>
</div>