.contact{
    background: url('../../assets/images/contactus.jpg') center/cover  no-repeat;
}

body{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
}

.contact-form form{
    padding: 14% 0px;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #27aae1;
}
.contact-form .btnContact {
    width: 150px;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #27aae1;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.contact-form form .form-group{
    margin-bottom: 20px;
}

.form-control.ng-touched.ng-invalid {
    border-color: #dc3545;
  }
  
  .form-control.ng-touched.ng-valid {
    border-color: #28a745;
  }
  
  small {
    color: #dc3545;
  }