<div>
    <!-- Section 1 -->
    <section class="py-4 contact">
        <div class="container">
            <div class="row m-4">
                <div class="col-11 col-md-10 col-lg-8 col-xl-8 pt-4 mx-auto">
                    <!-- <h1 class="text-gradient">Contact Us</h1> -->
                    <p class="text-center">Kindly direct your correspondence to us by sending an email to <a
                            href="mailto:hr@itpanda.org"> hr&#64;itpanda.org</a></p>

                    <div class="container contact-form">
                        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                            <h3>Drop Us a Message</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="firstName" class="form-control"
                                            placeholder="Your first Name *" />
                                        <div *ngIf="f.firstName.touched && f.firstName.invalid">
                                            <small *ngIf="f.firstName.errors?.required">first name is required.</small>
                                            <small *ngIf="f.firstName.errors?.minlength">first name must be at least 2
                                                characters
                                                long.</small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" formControlName="email" class="form-control"
                                            placeholder="Your Email *" />
                                        <div *ngIf="f.email.touched && f.email.invalid">
                                            <small *ngIf="f.email.errors?.required">Email is required.</small>
                                            <small *ngIf="f.email.errors?.email">Invalid email address.</small>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="lastName" class="form-control"
                                            placeholder="Your last Name *" />
                                        <div *ngIf="f.lastName.touched && f.lastName.invalid">
                                            <small *ngIf="f.lastName.errors?.required">last name is required.</small>
                                            <small *ngIf="f.lastName.errors?.minlength">last name must be at least 2
                                                characters
                                                long.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="phone" class="form-control"
                                            placeholder="Your Phone Number *" />
                                        <div *ngIf="f.phone.touched && f.phone.invalid">
                                            <small *ngIf="f.phone.errors?.required">Phone number is required.</small>
                                            <small *ngIf="f.phone.errors?.pattern">Invalid phone number.</small>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea formControlName="message" class="form-control"
                                            placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                                        <div *ngIf="f.message.touched && f.message.invalid">
                                            <small *ngIf="f.message.errors?.required">Message is required.</small>
                                            <small *ngIf="f.message.errors?.minlength">Message must be at least 10
                                                characters long.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btnContact" value="Send Message"
                                            [disabled]="contactForm.invalid" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <form>
                           <div class="row">
                                <div class="col-12">
                                    <div class="py-1 d-grid">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Enter your Name</mat-label>
                                            <input matInput required>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="py-1 d-grid">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Enter your Phone Number</mat-label>
                                            <input matInput required>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="py-1 d-grid">
                                        <mat-form-field appearance="legacy">
                                            <mat-label>Enter your Email</mat-label>
                                            <input matInput required>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Yours Interest</mat-label>
                                    <mat-select>
                                      <mat-option value="one">Angular</mat-option>
                                      <mat-option value="two">React</mat-option>
                                      <mat-option value="two">Digital Marketing</mat-option>
                                      <mat-option value="two">Graphic Designing</mat-option>
                                      <mat-option value="one">Landing Page</mat-option>
                                      <mat-option value="one">Software Development</mat-option>
                                      <mat-option value="two">UI Designing</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="row">
                                    <div class="col-10 d-grid">
                                        <mat-form-field class="example-full-width" appearance="legacy">
                                            <mat-label>Leave a comment</mat-label>
                                            <textarea matInput></textarea>
                                        </mat-form-field> 
                                    </div>
                                    <div class="col-1 pt-4">
                                        <button mat-raised-button color="primary">Submit</button>     
                                    </div> 
                                </div>
                            </form> -->
                </div>
            </div>
        </div>
    </section>

    <app-forcepagetop></app-forcepagetop>
    <footer>
        <app-footer [hideFooter]="true"></app-footer>
    </footer>
</div>