<div>
  <!-- Section 1 -->
    <section class="AboutUs py-5">
        <div class="text-white text-center">
            <div class="display-4 py-4">About Us</div>
            <h4>Our Team Got You Covered</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, consectetur.</p>
        </div>

        <div class="container py-5">  
            <div class="d-flex justify-content-center flex-wrap">
                <div class="member1 text-white py-5 col-lg-4 col-md-5 col-9 px-4 m-3">
                    <h2>Our Vision</h2>
                    <p>our vision is to pioneer global innovation by providing cutting-edge software solutions that empower businesses across borders,
                         fostering a future where technology seamlessly integrates with human potential.</p>
                </div>

    
                <div class="member2 text-white col-lg-4 col-md-5 col-9 py-5 px-4 m-3">
                    <h2>Our mission</h2>
                    <p>Our mission is to deliver client-centric excellence through innovative and tailored software solutions. 
                        With a commitment to a global perspective, we aim to impact businesses positively, ensuring security, reliability, and continuous talent development. We are dedicated to shaping a digital landscape that anticipates and meets the evolving needs of our clients,
                         leaving a lasting and positive mark on industries worldwide..</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 1 End-->



    <!-- Section 2-->
    <section class="bg-light py-5">
        <div class="container pt-3">
            <div class="row">
                <div class="col-10 col-md-5 col-lg-5 mx-auto">
                    <h1 class="py-3 text-gradient">About Us</h1>
                    <p class="fs-5 fw-light text-justify">A global leader in software solutions, serving clients across the United States, 
                        Germany, Hong Kong, and beyond. Specializing in finance, e-commerce, and law, we take pride in the websites we've crafted for our clients in these industries. 
                        Our commitment to innovation, global perspective, and unwavering focus on security sets us apart.
                        We're not just a software company; we're your strategic partner in digital transformation, propelling businesses to new heights in the dynamic world of technology.</p>
                    <button class="btn btn-primary p-2 mt-3 px-4 btn-radius" (click)="goDown()">Want to learn more<i class="px-1 fa fa-arrow-down"></i></button>
                </div>

                <div class="col-10 col-md-5 col-lg-5 mx-auto">
                    <img src="../../assets/images/about-us-img.png" class="img-fluid py-xl-0 py-5" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Section 2 End -->

    <!-- Section 3 -->
    <section class="py-5" id="target">   
        <div class="container">
            <div class="row">
                <div class="col-11 col-md-5 col-lg-5 mx-auto border py-4 my-2">
                    <div class="d-flex">
                        <img src="../../assets/icons/users.svg" class="px-2 m-1" alt=""><h5>Our Organization</h5>
                    </div>
                    <p class="px-5 m-1">We are development and programming organization which provides web development, antenna alignment tools
                     and monitoring systems to supports a variety industry.</p>
                </div>

                <div class="col-11 col-md-5 col-lg-5 mx-auto border py-4 my-2">
                    <div class="d-flex">
                      <img src="../../assets/icons/activity.svg" class="px-2 m-1" alt=""><h5>Our Services</h5>
                    </div>
                   
                     <p class="px-5 m-1">IT Panda is a forefront provider in IT services companies and a leading software house in Pakistan, our
                     services are spread across Australia, UK, Germany and Spain. We provide services of websites, by using React and Angular. 
                     And Back-End services by using node. </p>
                 </div>

                 <div class="col-11 col-md-5 col-lg-5 mx-auto border py-4 my-2">
                    <div class="d-flex">
                        <img src="../../assets/icons/award.svg" class="px-2 m-1" alt=""><h5>Excellent Staff</h5>
                    </div>
                     <p class="px-5 m-1">We have an excellent staff who will guide you with their best ideas by keeping in constan
                     touch with company.</p>
                 </div>

                 <div class="col-11 col-md-5 col-lg-5 mx-auto border py-4 my-2">
                    <div class="d-flex">
                        <img src="../../assets/icons/edit-3.svg" class="px-2 m-1" alt=""><h5>Designing Knowledge</h5>
                    </div>
                     <p class="px-5 m-1">Our web designers are having knowledge of usability principles and consistently
                     upgrade their knowledge about accessibility trends.
                    </p>
                 </div>

                 <div class="col-11 col-md-5 col-lg-5 mx-auto border py-4 my-2">
                    <div class="d-flex">
                        <img src="../../assets/icons/edit1.svg" class="px-2 m-1" alt=""><h5>Help To Create</h5>
                    </div>
              
                     <p class="px-5 m-1">We help you to create a clear digital a plan of action designed to achieve a long-term
                     that optimizes your path to have comprehensive, technology-led business success.</p>
                 </div>

                 <div class="col-11 col-md-5 col-lg-5 mx-auto border py-4 my-2">
                    <div class="d-flex">
                       <img src="../../assets/icons/heart.svg" class="px-2 m-1" alt=""><h5>Support Our Clients</h5>
                    </div>
                  
                     <p class="px-5 m-1">We support our clients confront the digital world tasks and maximize profits. We offer solutions as per the various types of
                     businesses of our valuable clients. We assure developing with fully responsive designs.</p>
                 </div>

                 <div class="col-11 col-md-5 col-lg-5 mx-auto border py-4 my-2">
                    <div class="d-flex">
                        <img src="../../assets/icons/check-square.svg" class="px-2 m-1" alt=""><h5>Your Satisfaction</h5>
                    </div>
                     <p class="px-5 m-1">Our team goes above and at the further side to provide total satisfaction. Your happiness is always
                     our foremost as more important than others.</p>
                 </div>

                 <div class="col-11 col-md-5 col-lg-5 mx-auto border py-4 my-2">
                    <div class="d-flex">
                        <img src="../../assets/icons/globeabout.svg" class="px-2 m-1" alt=""><h5>Our Establishment</h5>
                    </div>
                     <p class="px-5 m-1">We have been established and popular company with the excellent track record for the best client satisfaction.
                     We were never compromised on the services provided to our clients.</p>
                 </div>

                 <div class="col-11 col-md-5 col-lg-5 mx-auto border py-4 my-2">
                    <div class="d-flex">
                       <img src="../../assets/icons/watch.svg" class="px-2 m-1" alt=""><h5>Fast Response</h5>
                    </div>
                 
                     <p class="px-5 m-1">We are providing innovating ERP solutions, exceptional web design services and engaging mobile apps development worldwide.
                     We provide our clients faster their online designing responsive web designs and user-friendly mobile apps for android and Apple user.</p>
                 </div>

                 <div class="col-11 col-md-5 col-lg-5 mx-auto border py-4 my-2">
                    <div class="d-flex">
                        <img src="../../assets/icons/thumbs-up.svg" class="px-2 m-1" alt=""><h5>Our Management</h5>
                    </div>
                     <p class="px-5 m-1">Arrange in a row of different social areas of web design include web graphic design, interface java, authoring,
                     including standardized code. Thus, our web designers are having knowledge of usability principles and consistently upgrade their
                     knowledge about accessibility trends.</p>
                 </div>
            </div>
        </div>
    </section>
    <!-- Section 3 End-->
    
    <!-- Section 1 -->
    <section class="partner py-5">
        <div class="text-center">
            <div class="display-5 fw-normal py-3 text-gradient">We'd love to work with you</div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, consectetur.</p>
        </div>

        <div class="text-center pb-5 pt-2">
            <button class="btn btn-primary" routerLink="/contact">Contact Us</button>
        </div>
    </section>
    <!-- Section 1 End-->
    <app-forcepagetop></app-forcepagetop>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>