<header>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../../assets/icons/It-Panda-logo icon.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
              </button>
    
            <div class="collapse navbar-collapse menu-bar" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto py-4 text-capitalize d-flex">
                <li class="nav-item px-3">
                    <a routerLink="/home" class="nav-link text-color ">Home</a>
                </li>
                <li class="nav-item px-3">
                    <a routerLink="/service"  class="nav-link text-color d-flex align-items-center">
                        services <i class="fas fa-level-down-alt mx-1"></i>
                    </a>
                    <div class="sub-menu-1">
                        <ul>
                            <li class="hover-me"><a class="text-primary">Web Development</a><i class="fa fa-angle-right pt-1"></i>
                                <div class="sub-menu-2">
                                   <ul>
                                    <li><a routerLink="service/angular">Angular Development</a></li>
                                    <li><a routerLink="service/react">React Development</a></li>
                                    <li><a class="hov" routerLink="service/websitedesign">Website Designing</a></li>
                                    <li><a class="hov" routerLink="service/cms" >CMS</a></li>
                                   </ul>
                               </div>
                            </li>
                            <li class="hover-me"><a class="hov">Marketing</a><i class="fa fa-angle-right pt-1"></i>
                                <div class="sub-menu-2">
                                   <ul>
                                    <li><a class="hov" routerLink="service/digitalmarket">Digital Marketing</a></li>
                                   </ul>
                               </div>
                            </li>
                         
                            <li class="hover-me"><a class="hov">Other Works</a><i class="fa fa-angle-right pt-1"></i>
                               <div class="sub-menu-2">
                                   <ul>
                                    <li><a class="hov" routerLink="service/graphicdesign">Graphic Designing</a></li>
                                    <li><a class="hov" routerLink="service/softwaredevelopment">Software Development</a></li>
                                    <li><a routerLink="service/erp">ERP</a></li>                    
                                    <li><a class="hov" routerLink="service/mobileapplicationdevelopment">Mobile Application</a></li>
                                    <li><a class="hov" routerLink="service/landingpage">Landing Pages</a></li>
                                   </ul>
                               </div>
                           </li>    
                       </ul>
                    </div>
                  </li>
                <li class="nav-item px-3">
                    <a routerLink="/portfolio" class="nav-link text-color" href="#">portfolio</a>
                </li>
                <li class="nav-item px-3">
                    <a routerLink="/careers" class="nav-link text-color" href="#">Careers</a>
                </li>
                <li class="nav-item px-3">
                    <a routerLink="/about" class="nav-link text-color" href="#">About</a>
                </li>
                <li class="nav-item px-3" >
                    <a routerLink="/contact" class="nav-link text-color" href="#">Contact</a>
                </li>
            </ul>
            </div>
        </div>    
    </nav>
</header>







