nav {
    color: whitesmoke;
    box-shadow: 2px 2px 2px rgb(228, 228, 228);
}

.sub-menu-1 {
    display: none;
}

.fa-angle-right {
    color: black;
    float: right;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: white;
    border: 1px solid;
}

.sub-menu-1 a {
    color: #6c757d;
}

.sub-menu-1 a:hover {
    color: #27AAE1;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    margin-right: 24px;
}

.menu-bar ul li:hover .sub-menu-1 li {
    width: 182px;
    padding: 10px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
}

.menu-bar ul li:hover .sub-menu-1 li:last-child {
    border-bottom: none;
}

.sub-menu-2 {
    display: none;
}

.text-color {
    color: #6c757d;
}

.text-color:hover {
    color: #27AAE1;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -35px;
    margin-left: 174px;
    background: white;
    border: 1px solid;
}