.radi{
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(186, 186, 186);
}

.radi:hover{
    transform: scale(0.8);
    transition: 0.7s all linear;
}

.imgscale:hover{
    transform: scale(1.5);
    transition: 0.6s all linear;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(186, 186, 186);
}
