<div class="container">
    <div class="row py-4 mx-auto d-flex justify-content-center">
        <div class="col-10 col-md-4 col-lg-4 col-xl-3">
            <!-- <img src="../../assets/images/websitesimg1.jpg" class="img-fluid mb-3" alt="">  -->
            <h5>Project 1</h5>
            <p > Advanced Merchant Platform Development, The project developed using React with TypeScript and PHP Laravel, incorporates a blend of cutting-edge technologies, including Material-UI, HTML, CSS, SCSS, and Rest Services. The platform is designed to empower merchants by providing an intuitive interface for efficiently managing and reconciling payments and settlements.</p>
        </div>
        <div class="col-10 col-md-4 col-lg-4 col-xl-3">
            <!-- <img src="../../assets/images/websitesimg2.jpg" class="img-fluid mb-3" alt="">  -->
            <h5>Project 2</h5>
            <p >Secure Cross-Border Payment Integration Platform, This innovative platform specializes in processing payments from major gateways including Alipay, WeChat, China UnionPay, and QuickPay.
                Developed with a focus on security and efficiency, the project ensures the safe offshore handling of funds. Leveraging React with TypeScript on the frontend guarantees a robust and scalable user interface, while PHP Laravel facilitates secure and reliable backend operations.</p>
        </div>
        <div class="col-10 col-md-4 col-lg-4 col-xl-3">
            <!-- <img src="../../assets/images/websitesimg.jpg" class="img-fluid mb-3" alt="">  -->
            <h5>Project 3</h5>
            <p >Next.js-Powered Spanish Immersion Learning Platform, Harnessing the capabilities of Next.js, our groundbreaking project introduces a revolutionary online Spanish learning experience. The platform is designed to teach individuals Spanish through immersive Zoom sessions, making it the most comprehensive online Spanish program in the world.</p>
        </div>
    </div>
</div>
