
<section class="py-5 bg-light">
    <h1 class="pt-4 text-center text-primary text-gradient">WHAT PEOPLE SAYS ABOUT US</h1>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
       <div class="testimonial-container text-dark mx-auto">
           <!-- <div class="progress-bar my-4"></div> -->
               <div class="fas fa-quote-right fa-quote"></div>
               <div class="fas fa-quote-left fa-quote"></div>
               <p class="testimonial py-2 text-center mt-4">
                My experience with the company has been positive overall. They are known for its proficiency in Angular development, is honest in time management and consistently responsive to feedback.

                There were occasions when the company appeared occupied with other assignments, impacting the allocation of time to our project. However, given the flexibility of our timelines, this was manageable.
                
                It's worth noting that, at this level, expectations should be set regarding the level of polished UI and UX design, initiative, and creativity. While the company may not deliver at the same level as a specialized agency, they demonstrate commendable competence compared to their peers.
               </p>            
                <div class="text-center pt-3">
                   <h2 class="username fw-light text-gradient">Ihab Salem</h2>
               </div>
           </div>
      </ng-template>  
      <ng-template carouselSlide>
       <div class="testimonial-container text-dark mx-auto">
           <!-- <div class="progress-bar my-4"></div> -->
               <div class="fas fa-quote-right fa-quote"></div>
               <div class="fas fa-quote-left fa-quote"></div>
               <p class="testimonial py-2 text-center mt-4">
                Beyond their technical expertise, A company demonstrates a keen understanding of project requirements. They consistently provide valuable suggestions, and their communication is consistently excellent and on time.
               </p>       
                <div class="text-center pt-3">
                   <h2 class="username fw-light text-gradient"> Rahul Budhraja</h2>
               </div>
           </div>
      </ng-template>  
      <ng-template carouselSlide>
       <div class="testimonial-container text-dark mx-auto">
           <!-- <div class="progress-bar my-4"></div> -->
               <div class="fas fa-quote-right fa-quote"></div>
               <div class="fas fa-quote-left fa-quote"></div>
               <p class="testimonial py-2 text-center mt-4">
                We recently had the pleasure of collaborating with ITpanda, and we are genuinely impressed with the team's professionalism and helpful attitude. The entire team, successfully completed all assigned tasks and even provided valuable solutions for additional challenges. We appreciate the collective effort and look forward to the prospect of working together again in the future.
               </p>  
                <div class="text-center pt-3">
                   <h2 class="username fw-light text-gradient"> Chevan Baker</h2>
               </div>
           </div>
      </ng-template>  
    </owl-carousel-o>
   </section>