
<section class="py-5 bg-light">
    <h1 class="pt-4 text-center text-primary text-gradient">WHAT PEOPLE SAYS ABOUT US</h1>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
       <div class="testimonial-container text-dark mx-auto">
           <!-- <div class="progress-bar my-4"></div> -->
               <div class="fas fa-quote-right fa-quote"></div>
               <div class="fas fa-quote-left fa-quote"></div>
               <p class="testimonial py-2 text-center mt-4">
                   Lorem ipsum dolor sit amet consectetur
                   adipisicing elit. Natus quas quam aut,
                   fuga facere ullam, sunt, nam saepe doloremque
                   architecto aspernatur eius beatae debitis. Illum
                   in omnis tenetur culpa soluta.
                   fuga facere ullam, sunt, nam saepe doloremque
                   architecto aspernatur eius beatae debitis. Illum
                   in omnis tenetur culpa soluta.
               </p>            
                <div class="text-center pt-3">
                   <h2 class="username fw-light text-gradient">Lorem, ipsum.</h2>
                   <p class="role">Lorem.</p>
               </div>
           </div>
      </ng-template>  
      <ng-template carouselSlide>
       <div class="testimonial-container text-dark mx-auto">
           <!-- <div class="progress-bar my-4"></div> -->
               <div class="fas fa-quote-right fa-quote"></div>
               <div class="fas fa-quote-left fa-quote"></div>
               <p class="testimonial py-2 text-center mt-4">
                   Lorem ipsum dolor sit amet consectetur
                   adipisicing elit. Natus quas quam aut,
                   fuga facere ullam, sunt, nam saepe doloremque
                   architecto aspernatur eius beatae debitis. Illum
                   in omnis tenetur culpa soluta.
                   fuga facere ullam, sunt, nam saepe doloremque
                   architecto aspernatur eius beatae debitis. Illum
                   in omnis tenetur culpa soluta.
               </p>       
                <div class="text-center pt-3">
                   <h2 class="username fw-light text-gradient">Lorem, ipsum.</h2>
                   <p class="role">Lorem.</p>
               </div>
           </div>
      </ng-template>  
      <ng-template carouselSlide>
       <div class="testimonial-container text-dark mx-auto">
           <!-- <div class="progress-bar my-4"></div> -->
               <div class="fas fa-quote-right fa-quote"></div>
               <div class="fas fa-quote-left fa-quote"></div>
               <p class="testimonial py-2 text-center mt-4">
                   Lorem ipsum dolor sit amet consectetur
                   adipisicing elit. Natus quas quam aut,
                   fuga facere ullam, sunt, nam saepe doloremque
                   architecto aspernatur eius beatae debitis. Illum
                   in omnis tenetur culpa soluta.
                   fuga facere ullam, sunt, nam saepe doloremque
                   architecto aspernatur eius beatae debitis. Illum
                   in omnis tenetur culpa soluta.
               </p>  
                <div class="text-center pt-3">
                   <h2 class="username fw-light text-gradient">Lorem, ipsum.</h2>
                   <p class="role">Lorem.</p>
               </div>
           </div>
      </ng-template>  
    </owl-carousel-o>
   </section>