.portfolio{
    background: linear-gradient(rgb(55, 141, 221), rgba(89, 94, 94, 0)), url('/../../assets/images/bannerport.jpg') center/cover fixed no-repeat;
    height: 650px;   
}

.radi{
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(186, 186, 186);
}

.radi:hover{
    transform: scale(0.8);
    transition: 0.7s all linear;
}

.imgscale:hover{
    transform: scale(1.5);
    transition: 0.6s all linear;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(186, 186, 186);
}

.btnradius{
    border-radius: 20px;
}

.btnradius:hover{
    transform: scale(1.09);
    transition: 0.3s all linear;
}

@media (max-width: 1024px) and (min-width: 0px){
    .portfolio{
        height: auto;
    }
}