<div>
  <!-- Section 1 -->
  <section class="portfolio py-5">
        <div class="display-3 text-white text-center">PORTFOLIO</div>

      <div id="demo" class="carousel slide py-2" data-bs-ride="carousel">
       
        <div class="carousel-inner">
          <div class="carousel-item active py-4">
            <div class="container py-3">
                <div class="row">
                    <div class="col-10 col-md-10 col-lg-8 mx-auto">
                        <div class="row">
                            <div class="col-10 col-md-5 col-lg-5 mx-auto">
                                <a href=""><img src="../../assets/images/portfoliocaro1.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="col-10 col-md-7 col-lg-6 mx-auto py-lg-5">
                                <div class="text-white">
                                    <h1 class="fw-light">Check Out Over Lastest Work</h1>
                                    
                                </div>
                            
                                <button routerLink="/contact" class="btn btn-primary m-1 p-2 px-3">Get in touch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      
        <button class="carousel-control-prev" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      
      </div>
</section>
<!-- Section 1 End-->

<!-- Section 2 -->
<section class="py-5">
    <div class="container">
        <div class="text-center col-lg-6 mx-auto">
           <h1 class="text-gradient">OUR MILESTONE WORK</h1>
           <p class="text-secondary py-4">This is our take on digital branding; high-end designs, video animations, web and app development. IT Panda successful
           designs are a direct result of our systematized design and development process.</p>
        </div>

        <div class="d-flex justify-content-center flex-wrap">
          <button (click)="activeSection = 'angular-portfolio'" [ngClass]="activeSection === 'angular-portfolio' ? 'active' : ''" class="btn btn-outline-primary px-3 p-2 m-1 btnradius">ANGULAR PROJECTS</button>
          <button (click)="activeSection = 'react-portfolio'" [ngClass]="activeSection === 'react-portfolio' ? 'active' : ''" class="btn btn-outline-primary px-3 p-2 m-1 btnradius">REACT PROJECT</button>
          <button (click)="activeSection = 'websitedesign-portfolio'" [ngClass]="activeSection === 'websitedesign-portfolio' ? 'active' : ''" class="btn btn-outline-primary px-3 p-2 m-1 btnradius">UI DESIGN</button>
          <button (click)="activeSection = 'digitalmarketing-portfolio'" [ngClass]="activeSection === 'digitalmarketing-portfolio' ? 'active' : ''" class="btn btn-outline-primary px-3 p-2 m-1 btnradius">DIGITAL MARKETING</button>
          <button (click)="activeSection = 'graphicdesign-portfolio'" [ngClass]="activeSection === 'graphicdesign-portfolio' ? 'active' : ''" class="btn btn-outline-primary px-3 p-2 m-1 btnradius">GRAPHIC DESIGNING</button>
          <button (click)="activeSection = 'landingpage-portfolio'" [ngClass]="activeSection === 'landingpage-portfolio' ? 'active' : ''" class="btn btn-outline-primary px-3 p-2 m-1 btnradius">LANDING PAGE</button>
          <button (click)="activeSection = 'softwaredevelopment-portfolio'" [ngClass]="activeSection === 'softwaredevelopment-portfolio' ? 'active' : ''" class="btn btn-outline-primary px-3 p-2 m-1 btnradius">SOFTWARE DEVELOPMENT</button>
      </div>
      @if(activeSection === 'angular-portfolio'){
        <ng-container>
          <app-angular-portfolio></app-angular-portfolio>
        </ng-container>
      }
      @if(activeSection === 'digitalmarketing-portfolio'){
        <ng-container>
          <app-digitalmarketing-portfolio></app-digitalmarketing-portfolio>
        </ng-container>
      }
      @if(activeSection === 'graphicdesign-portfolio'){
        <ng-container>
          <app-graphicdesign-portfolio></app-graphicdesign-portfolio>
        </ng-container>
      }
      @if(activeSection === 'landingpage-portfolio'){
        <ng-container>
          <app-landingpage-portfolio></app-landingpage-portfolio>
        </ng-container>
      }
      @if(activeSection === 'react-portfolio'){
        <ng-container>
          <app-react-portfolio></app-react-portfolio>
        </ng-container>
      }
      @if(activeSection === 'softwaredevelopment-portfolio'){
        <ng-container>
          <app-softwaredevelopment-portfolio></app-softwaredevelopment-portfolio>
        </ng-container>
      }
      @if(activeSection === 'websitedesign-portfolio'){
        <ng-container>
          <app-websitedesign-portfolio></app-websitedesign-portfolio>
        </ng-container>
      }
      </div>
  </section>
  <!-- Section 2 End -->
  <app-forcepagetop></app-forcepagetop>
  <!--Footer Start-->
  <footer>
      <app-footer></app-footer>
  </footer>
  <!--Footer End-->
</div>