.breadcrumb-link {
  color: white;             
  text-decoration: none;     
  transition: all 0.3s ease; 
}

.breadcrumb-link:hover {
  color: #27aae1;       
  text-decoration: underline;
}

.card {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.card:hover {
  background-color: #063279 !important;
  color: white !important;
}
.card:hover i {
  color: white !important;
}
.wave {
  position: relative;
  height: 100px;
  background: #1E3A8A;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}


.txt{
    font-size: 70px;

}

.service-box {
  color: white; 
  transition: all 0.3s ease; 
}

.service-box:hover {
  background-color: white; 
  color: black;           
}

.service-box:hover h3,
.service-box:hover i,
.service-box:hover p {
  color: black; 
}

