<div>
  <!-- Section 1 -->
    <section class="py-5 Services">
        <div class="text-center col-lg-4 col-8 mx-auto">
            <h1 class="display-3 fw-bold mt-5 pt-5"><i>Services</i></h1>
            <p>We are a dedicated team committed to providing top-notch services tailored to meet your unique needs.Explore a world of possibilities with us, where your success is our priority.</p>
            <button class="btn btn-dark my-2 p-2 px-4 btn-radius" (click)="goDown()">EXPLORE <i class="fas fa-arrow-down px-1"></i></button>
        </div>
    </section>
    <!-- Section 1 End-->

      <!-- Section 2 -->
      <section class="py-5 bg-light" id="target">
        <div class="text-center col-lg-5 mx-auto py-4">
            <h1 class="py-3 text-gradient">EXPLORE OUR SERVICES</h1>
            <p>We deliver Tech-Savvy Products, Innovative Services, and Cutting -Edge Solutions enabling you to achieve your business goals.</p>
        </div>
    
        <div class="container">
            <div class="row py-1">
                <div class="col-11 col-md-4 col-lg-4 mx-auto d-flex flex-column py-2">
                    <div class=" text-center text-white bg-dark py-5 px-3 radius cards">
                        <img src="../../assets/icons/Angular.png" height="45px" width="45px" class="img-fluid pb-2" alt="">
                        <h4><a href="#" routerLink="/service/angular">Angular Development</a></h4>
                        <p>Angular helps build single page applications (SPAs) with its interest, attention features.</p>
                        <a href="" class="text-primary no-underline" routerLink="/service/angular">See More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-11 col-md-4 col-lg-4 mx-auto d-flex flex-column py-2">
                    <div class=" text-center text-white bg-dark py-5 px-3 radius cards">
                        <img src="../../assets/icons/react.png" height="45px" width="45px" class="img-fluid pb-2" alt="">
                        <h4><a href="#" routerLink="/service/react">React Development</a></h4>
                        <p>React development offers having grace solutions to some of front-end programming.</p>
                        <a href="" class="text-primary no-underline" routerLink="/service/react">See More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-11 col-md-4 col-lg-4 mx-auto d-flex flex-column py-2">
                    <div class=" text-center text-white bg-dark py-5 px-3 radius cards">
                        <img src="../../assets/icons/Graphic Design Icon.png" height="45px" width="45px" class="img-fluid pb-2" alt="">
                        <h4><a href="#" routerLink="/service/graphicdesign">Graphic Designing</a></h4>
                        <p>Graphic designing is a format of communication using text or images to create.</p>
                        <a href="" class="text-primary no-underline" routerLink="/service/graphicdesign">See More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="row py-1">
                <div class="col-11 col-md-4 col-lg-4 mx-auto d-flex flex-column py-2">
                    <div class=" text-center text-white bg-dark py-5 px-3 radius cards">
                        <img src="../../assets/icons/Digital Marketing.png" height="45px" width="45px" class="img-fluid pb-2" alt="">
                        <h4><a href="#" routerLink="/service/digitalmarket">Digital Marketing</a></h4>
                        <p>Digital marketing is the act of promoting and selling products and services.</p>
                        <a href="" class="text-primary no-underline" routerLink="/service/digitalmarket">See More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>

                <div class="col-11 col-md-4 col-lg-4 mx-auto d-flex flex-column py-2">
                    <div class=" text-center text-white bg-dark py-5 px-3 radius cards">
                        <img src="../../assets/icons/Landing Page.png" height="45px" width="45px" class="img-fluid pb-2" alt="">
                        <h4><a href="#" routerLink="/service/landingpage">Landing Pages</a></h4>
                        <p>Landing pages are a plan of action designed to achieve a long-term conversion rates.</p>
                        <a href="" class="text-primary no-underline" routerLink="/service/landingpage">See More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-11 col-md-4 col-lg-4 d-flex flex-column py-2">
                    <div class=" text-center text-white bg-dark py-5 px-3 radius cards">
                        <img src="../../assets/icons/Software Development.png" height="45px" width="45px" class="img-fluid pb-2" alt="">
                        <h4><a href="#" routerLink="/service/softwaredevelopment">Software Development</a></h4>
                        <p>It is a frame work used to plan, control and structure the process of developing.</p>
                        <a href="" class="text-primary no-underline" routerLink="/service/softwaredevelopment">See More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
    
            </div>

            <div class=" d-flex flex-row align-items-center justify-content-center py-1">
                <div class="col-11 col-md-4 col-lg-4 d-flex flex-column py-2">
                    <div class=" text-center text-white bg-dark py-5  px-3 radius cards">
                        <img src="../../assets/icons/web design Icon.png" height="45px" width="45px" class="img-fluid pb-2" alt="">
                        <h4><a href="#" routerLink="/service/websitedesign">UI Designing</a></h4>
                        <p>UI design is the act of designing and creating websites, and becoming a model art form.</p>
                        <a href="#" class="text-primary no-underline" routerLink="/service/websitedesign">See More <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>    
            </div>
        </div>
      </section>
      <!-- Section 2 End-->


      <!-- Section 3 -->
        <!-- <section class="py-5">
            <div class="container">
                <div class="text-center pb-5">
                    <h1 class="text-gradient">OUR PARTNERS</h1>
                    <p class="text-muted">Trusted by Fortune companies to build custom applications</p>
                </div>
                <marquee behavior="scroll" direction="left">
                    <img src="../../assets/icons/company1.png" class="px-4 marqi" width="20%" height="100px" alt="">
                    <img src="../../assets/icons/company2.png" class="px-4 marqi"  width="20%" height="100px" alt="">
                    <img src="../../assets/icons/company3.png" class="px-4 marqi" width="20%" height="100px" alt="">
                    <img src="../../assets/icons/company4.png" class="px-4 marqi" width="20%" height="100px" alt="">
                    <img src="../../assets/icons/company5.png" class="px-4 marqi" width="20%" height="100px" alt="">
                </marquee>

                <h6 class="text-center pt-5">Want our Services? <a routerLink="/contact" href="" class="text-primary">Contact Us <i class="fas fa-chevron-right"></i></a></h6>
            </div>
        </section> -->
      <!-- Section 3 End -->
     <app-forcepagetop></app-forcepagetop>

    <!--Footer Start-->
    <footer>
        <app-footer></app-footer>
    </footer>
     <!--Footer End-->
</div>
