.Services{
    background:linear-gradient(rgb(255, 255, 255), rgba(106, 171, 232, 0.6)),url('../../assets/images/manage.gif') center/cover fixed;
    height: 75vh;
}

.radius{
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(186, 186, 186);
}

.radius:hover{
    transform: scale(1.05);
    transition: 0.5s all linear;
}

.iconsize{
    font-size: 25px;
}

.btn-radius{
    border-radius: 50px;
}


.btn-radius:hover{
    transform: scale(1.09);
    transition: 0.5s all linear;
}

@media(max-width : 568px){
    .marqi{
        width: 50%;
    }
}
@media (max-width: 1200px) and (min-width: 992px)
{
    .cards{
        height: 300px;
    }
}
@media (max-width: 992px) and (min-width:768px)
{
    .cards{
        height: 340px;
    }
}