@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.planet-float {
  animation: float 4s ease-in-out infinite;
}

.button{
    text-decoration: none;
    color: white;

}