<section class="team">
        <h3 class="text-gradient mt-3">Our Team</h3>
        <div class="members d-none d-md-flex">
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text">
                    <h3>Fareed ( Full Stack Developer )</h3>
                   <span class="text"> A dedicated and diligent employee excels in providing exceptional customer service, skillfully managing multiple tasks, 
                    and demonstrating proficiency in time management, having experience of 5+ years. His skill set spans application design, 
                    code reviews, architecture leadership, and expertise in data storage and retrieval. 
                    A well-versed in source and version control using Git and Github, thrive in collaborative team environments 
                    and possess proficiency in JS Frameworks such as React, Angular, and React Native.
                     His capabilities extend to new feature development, web programming, and working with databases, including SQL and MongoDB.</span></div>
            </div>
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text"> 
                    <h3>Sohail Hussain ( Front-End Developer )</h3>
                    <span class="text">With over 4+ years of seasoned expertise in frontend development, 
                        He is a proven professional in the dynamic field of web technologies. 
                        Proficient in the trifecta of HTML, CSS, and JavaScript, have honed his skills to an advanced level, 
                        demonstrating mastery in popular frameworks like React, Angular, or Vue.js. 
                        His extensive experience encompasses translating intricate design concepts into flawlessly executed 
                        and highly responsive user interfaces. Adept at crafting pixel-perfect designs, 
                        he ensures seamless cross-browser compatibility and optimal performance. 
                        His commitment to staying current with industry trends and adopting best practices underscores
                         their dedication to delivering innovative and high-quality front-end solutions that elevate 
                         user experiences to new heights.</span></div>
            </div>
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text">
                    <h3>Adnan ( UI Developer )</h3>
                    <span class="text">A skilled UI developer possesses a range of technical and creative abilities to 
                        create effective and visually appealing web interfaces. He brings a meticulous blend of 
                        design flair and technical expertise to every project. Proficient in a spectrum of front-end technologies,
                         from HTML5 and CSS3 to JavaScript frameworks like Angular, He specializes in crafting visually 
                         stunning and intuitively navigable interfaces. Excel in translating complex requirements into elegant, 
                         responsive layouts. Collaborative by nature, He thrives in interdisciplinary teams, leveraging 
                         his communication skills to bridge the gap between design concepts and functional code.</span>
                </div>
            </div>
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text">
                    <h3>Manan ( UI/UX Designer )</h3>
                    <span class="text">Versatile UI/UX designer with a robust skill set encompassing wireframing, 
                        prototyping, and visual design. Proficient in leveraging user research insights to 
                        inform decision-making, I specialize in crafting engaging and intuitive interfaces. 
                        A keen eye for detail, coupled with a commitment to staying at the forefront of design trends, 
                        allows me to deliver innovative and impactful user experiences. Skilled in creating seamless, 
                        visually appealing designs that align with both user needs and business objectives.</span>
                    </div>
            </div>
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text">
                    <h3>Nameera Khan ( Back-End Developer)</h3>
                    <span>A skilled Node.js backend developer possesses various technical and soft skills to effectively design,
                         build, and maintain server-side applications. Proficient in writing server-side code using Node.js. 
                         She is skilled in optimizing application performance, implementing security best practices, and collaborating 
                         with frontend developers to ensure seamless integration between the frontend and backend component. 
                         Solid understanding of event-driven programming and asynchronous concepts. 
                         Experience with Node.js frameworks, such as Express.js.Strong knowledge of working with databases, 
                        both SQL (e.g., MySQL, PostgreSQL) and NoSQL (e.g., MongoDB).</span>
                </div>
            </div>
        </div>
        <div class="members d-flex d-xl-none">
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text">
                    <h3>Fareed ( Full Stack Developer )</h3>
                   <span class="text"> A dedicated and diligent employee excels in providing exceptional customer service, skillfully managing multiple tasks, 
                    and demonstrating proficiency in time management, having experience of 5+ years. His skill set spans application design, 
                    code reviews, architecture leadership, and expertise in data storage and retrieval. 
                    A well-versed in source and version control using Git and Github, thrive in collaborative team environments 
                    and possess proficiency in JS Frameworks such as React, Angular, and React Native.
                     His capabilities extend to new feature development, web programming, and working with databases, including SQL and MongoDB.</span></div>
            </div>
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text"> 
                    <h3>Sohail Hussain ( Front-End Developer )</h3>
                    <span class="text">With over 4+ years of seasoned expertise in frontend development, 
                        He is a proven professional in the dynamic field of web technologies. 
                        Proficient in the trifecta of HTML, CSS, and JavaScript, have honed his skills to an advanced level, 
                        demonstrating mastery in popular frameworks like React, Angular, or Vue.js. 
                        His extensive experience encompasses translating intricate design concepts into flawlessly executed 
                        and highly responsive user interfaces. Adept at crafting pixel-perfect designs, 
                        he ensures seamless cross-browser compatibility and optimal performance. 
                        His commitment to staying current with industry trends and adopting best practices underscores
                         their dedication to delivering innovative and high-quality front-end solutions that elevate 
                         user experiences to new heights.</span>
                </div>
            </div>
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text">
                    <h3>Adnan ( UI Developer )</h3>
                    <span class="text">A skilled UI developer possesses a range of technical and creative abilities to 
                        create effective and visually appealing web interfaces. He brings a meticulous blend of 
                        design flair and technical expertise to every project. Proficient in a spectrum of front-end technologies,
                         from HTML5 and CSS3 to JavaScript frameworks like Angular, He specializes in crafting visually 
                         stunning and intuitively navigable interfaces. Excel in translating complex requirements into elegant, 
                         responsive layouts. Collaborative by nature, He thrives in interdisciplinary teams, leveraging 
                         his communication skills to bridge the gap between design concepts and functional code.</span>
                </div>
            </div>
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text">
                    <h3>Manan ( UI/UX Designer )</h3>
                    <span class="text">Versatile UI/UX designer with a robust skill set encompassing wireframing, 
                        prototyping, and visual design. Proficient in leveraging user research insights to 
                        inform decision-making, I specialize in crafting engaging and intuitive interfaces. 
                        A keen eye for detail, coupled with a commitment to staying at the forefront of design trends, 
                        allows me to deliver innovative and impactful user experiences. Skilled in creating seamless, 
                        visually appealing designs that align with both user needs and business objectives.</span>
                    </div>
            </div>
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text">
                    <h3>Nameera Khan ( Back-End Developer)</h3>
                    <span class="text">A skilled Node.js backend developer possesses various technical and soft skills to effectively design,
                         build, and maintain server-side applications. Proficient in writing server-side code using Node.js. 
                         She is skilled in optimizing application performance, implementing security best practices, and collaborating 
                         with frontend developers to ensure seamless integration between the frontend and backend component. 
                         Solid understanding of event-driven programming and asynchronous concepts. 
                         Experience with Node.js frameworks, such as Express.js.Strong knowledge of working with databases, 
                        both SQL (e.g., MySQL, PostgreSQL) and NoSQL (e.g., MongoDB).</span>
                </div>
            </div>
        </div>
</section>