<section class="team">
        <h3 class="text-gradient mt-3">Our Team</h3>
        <div class="members">
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text">Our mission is to deliver client-centric excellence through innovative and tailored software solutions. With a commitment to a global perspective, we aim to impact businesses positively, ensuring security, reliability, and continuous talent development. At [Your Company Name], we are dedicated to shaping a digital landscape that anticipates and meets the evolving needs of our clients, leaving a lasting and positive mark on industries worldwide.</div>
            </div>
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text"> a reliability, and continuous talent development. At [Your Company Name], we are dedicated to shaping a digital landscape that anticipates and meets the evolving needs of our clients, leaving a lasting and positive mark on industries worldwide.</div>
            </div>
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text">Our missred software solutionm to impact businesses positively, ensuring security, reliability, and continuous talent development. At [Your Company Name], we are dedicated to shaping a digital landscape that anticipates and meets the evolving needs of our clients, leaving a lasting and positive mark on industries worldwide.</div>
            </div>
        </div>
        <div class="members">
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text">Our mission is to deliver client-centric excellence through innovative and tailored software solutions. With a commitment to a global perspective, we aim to impact businesses positively, ensuring security, reliability, and continuous talent development. At [Your Company Name], we are dedicated to shaping a digital landscape that anticipates and meets the evolving needs of our clients, leaving a lasting and positive mark on industries worldwide.</div>
            </div>
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text"> a reliability, and continuous talent development. At [Your Company Name], we are dedicated to shaping a digital landscape that anticipates and meets the evolving needs of our clients, leaving a lasting and positive mark on industries worldwide.</div>
            </div>
            <div class="member-card">
                <div class="img"><img src="assets/images/member.jpg"  alt=""></div>
                <div class="member-text">Our missred software solutionm to impact businesses positively, ensuring security, reliability, and continuous talent development. At [Your Company Name], we are dedicated to shaping a digital landscape that anticipates and meets the evolving needs of our clients, leaving a lasting and positive mark on industries worldwide.</div>
            </div>
        </div>
</section>