<section>
  <!-- section 1 -->
  <div class="image-container">
    <img
      src="../../assets/images/website-banner.jpg"
      class="img-fluid"
      width="100%"
      alt="Home Banner"
    />
  </div>

  <!-- section 2 -->
  <section class="py-5">
    <div class="row m-4">
      <div class="col-12 mx-auto col-md-10 col-lg-10 col-xl-5">
        <h2 class="text-uppercase text-gradient">Who we Are</h2>
        <p class="my-4 fs-5 fw-light">
          A global leader in software solutions, serving clients across the
          United States, Germany, Hong Kong, and beyond. Specializing in
          finance, e-commerce, and law, we take pride in the websites we've
          crafted for our clients in these industries. Our commitment to
          innovation, global perspective, and unwavering focus on security sets
          us apart. We're not just a software company; we're your strategic
          partner in digital transformation, propelling businesses to new
          heights in the dynamic world of technology.
        </p>
      </div>

      <div class="col-12 mx-auto col-md-8 col-lg-4 col-xl-3">
        <img src="../../assets/images/who-we.png" class="img-fluid" alt="" />
      </div>
    </div>
  </section>

  <!-- section 3 -->
  <section class="plans py-5">
    <div
      class="text-center text-white col-11 col-md-6 col-lg-5 col-xl-5 mx-auto py-4"
    >
      <h1>WHAT WE DO</h1>
      <p>
        We deliver Tech-Savvy Products, Innovative Services, and Cutting -Edge
        Solutions enabling you to achieve your business goals.
      </p>
    </div>

    <div class="container">
      <div class="row py-3">
        <div class="col-11 col-md-4 col-lg-4 mx-auto d-flex flex-column py-2">
          <div class="text-center text-white bg-dark py-5 px-3 radius">
            <img
              src="../../assets/icons/Angular.png"
              height="45px"
              width="45px"
              class="img-fluid pb-2"
              alt=""
            />
            <h4>
              <a href="#" routerLink="/service/angular"> Angular Development</a>
            </h4>
            <p>
              Angular helps build single page applications (SPAs) with its
              interest, attention features.
            </p>
            <a
              href=""
              routerLink="/service/angular"
              >See More <i class="fa fa-chevron-right"></i
            ></a>
          </div>
        </div>

        <div class="col-11 col-md-4 col-lg-4 mx-auto d-flex flex-column py-2">
          <div class="text-center text-white bg-dark py-5 px-3 radius">
            <img
              src="../../assets/icons/react.png"
              height="45px"
              width="45px"
              class="img-fluid pb-2"
              alt=""
            />
            <h4>
              <a href="#" routerLink="/service/react">React Development</a>
            </h4>
            <p>
              React development offers having grace solutions to some of
              front-end programming.
            </p>
            <a
              href=""
              routerLink="/service/react"
              >See More <i class="fa fa-chevron-right"></i
            ></a>
          </div>
        </div>

        <div class="col-11 col-md-4 col-lg-4 mx-auto d-flex flex-column py-2">
          <div class="text-center text-white bg-dark py-5 px-3 radius">
            <img
              src="../../assets/icons/web design Icon.png"
              height="45px"
              width="45px"
              class="img-fluid pb-2"
              alt=""
            />
            <h4>
              <a href="#" routerLink="/service/websitedesign">UI Designing</a>
            </h4>
            <p>
              UI design is the act of designing and creating websites, and
              becoming a model art form.
            </p>
            <a
              href="#"
              routerLink="/service/websitedesign"
              >See More <i class="fa fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>

      <h6 class="text-center text-white py-5">
        <a href="#" routerLink="/service">
          View More <i class="fas fa-chevron-right"></i
        ></a>
      </h6>
    </div>
  </section>

  <!-- section 4-->
  <section class="py-5">
    <h2 class="text-center text-gradient mb-3">EXPLORE OUR PORTFOLIO</h2>
    <div class="d-flex justify-content-center flex-wrap pb-2">
      <button
        (click)="activeSection = 'mainport1'"
        [ngClass]="activeSection === 'mainport1' ? 'active' : ''"
        class="btn btn-outline-primary px-3 p-2 m-1 btnradius"
      >
        ANGULAR PROJECTS
      </button>
      <button
        (click)="activeSection = 'mainport2'"
        [ngClass]="activeSection === 'mainport2' ? 'active' : ''"
        class="btn btn-outline-primary px-3 m-1 p-2 btnradius"
      >
        REACT PROJECT
      </button>
      <button
        (click)="activeSection = 'mainport3'"
        [ngClass]="activeSection === 'mainport3' ? 'active' : ''"
        class="btn btn-outline-primary px-3 p-2 m-1 btnradius"
      >
        UI DESIGN
      </button>
      <button
        (click)="activeSection = 'mainport4'"
        [ngClass]="activeSection === 'mainport4' ? 'active' : ''"
        class="btn btn-outline-primary m-1 px-3 p-2 btnradius"
      >
        OTHER WORK
      </button>
    </div>
    @if(activeSection === 'mainport1'){
      <ng-container>
        <app-mainport1></app-mainport1>
      </ng-container>
    }
    @if(activeSection === 'mainport2'){
      <ng-container>
        <app-mainport2></app-mainport2>
      </ng-container>
    }
    @if(activeSection === 'mainport3'){
      <ng-container>
        <app-mainport3></app-mainport3>
      </ng-container>
    }
    @if(activeSection === 'mainport4'){
      <ng-container>
        <app-mainport4></app-mainport4>
      </ng-container>
    }
     <h6 class="text-center py-4">
      See Our More<a href="#" routerLink="/portfolio">
        Portfolio <i class="fas fa-chevron-right"></i
      ></a>
    </h6>
  </section>

  <!-- section 5-->
  <app-testimonial></app-testimonial>

  <!-- section 6-->
  <section class="py-4 contact">
    <div class="col-4 col-md-6 col-lg-4 col-xl-2 mx-auto">
      <button class="button w-100" routerLink="/contact">Contact Us</button>
    </div>
  </section>

  <app-forcepagetop></app-forcepagetop>

  <!--Footer Start-->
  <footer>
    <app-footer></app-footer>
  </footer>
  <!--Footer End-->
</section>
