*{
    box-sizing: border-box;
}

.radius{
    border-radius: 20px;
}

.button{
    width: 15%;
    height: 5vh;
    border-radius: 20px;
    background: linear-gradient(rgb(55, 52, 52), rgb(7, 121, 243));
    border: none;
    color: white;
}

.radius:hover{
    transform: scale(1.05);
    transition: 0.5s all linear;
}

.iconsize{
    font-size: 25px;
}

.plans{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/../../assets/images/heroimg.jpg') center/cover fixed no-repeat;
}

.contact{
    background: url('../../assets/images/contactus.jpg') center/cover  no-repeat;
}

::placeholder{
    color: white;
    opacity: 1;
}

.btnradius{
    border-radius: 20px;
}

.btnradius:hover{
    transform: scale(1.09);
    transition: 0.3s all linear;
}
  
@media (max-width: 1200px) and (min-width: 992px)
{
    .cards{
        height: 300px;
    }
}

@media (max-width: 992px) and (min-width:768px)
{
    .cards{
        height: 330px;
    }
}




